@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "ArcadeClassic", sans-serif;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: "header " "main " "footer ";
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
}

/*header*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #161A30;
  height: 100%;
  width: 100%;
  grid-area: header;
  overflow: hidden;
  gap: 3rem;
}

.navbar {
  display: flex;
  justify-content: center;
  margin: 0.1rem;
  margin: 2rem auto;
  padding-right: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  border: none;
  padding: 0.5rem 0;
}
li :hover {
  font-size: 2.2rem;
  border: none;
}
li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fafafa;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

main {
  background-color: #161A30;
  overflow: hidden;
  grid-area: main;
}

/* cartas de la tienda*/
.contenedorTienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  width: 100%;
}

.textTienda {
  display: block;
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #fafafa;
}

.cardsConteiner {
  gap: 2rem;
  margin-bottom: 3rem;
  width: 80%;
  display: grid;
}

.cardsTienda {
  text-align: center;
  background-color: #131313;
  border-radius: 2rem;
}

.tituloTiendaCard {
  display: block;
  border-bottom: #131313 solid;
  color: #fafafa;
  padding-top: 1rem;
  font-size: 2rem;
}
.tituloTiendaCard:hover {
  cursor: pointer;
}

.textLinkTiendaCard {
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  background-color: #fafafa;
}

/* cartas del home*/
.ContenedorCardsHome {
  height: max-content;
  margin: 4rem;
  position: relative;
  width: 100%;
  display: grid;
  row-gap: 2rem;
  align-items: center;
}

.cardsHome {
  gap: 2rem;
  margin-bottom: 3rem;
  width: 80%;
  display: grid;
  height: 20rem;
}

.c15 {
  background-image: url(../assets/musculacion.jpg);
  display: flex;
  opacity: 75%;
  background-size: cover;
}

.c16 {
  background-image: url(../assets/crossfit.jpg);
  display: flex;
  opacity: 75%;
  background-size: cover;
}

.c17 {
  background-image: url(../assets/pilates.jpg);
  display: flex;
  opacity: 75%;
  background-size: cover;
}

.c18 {
  background-image: url(../assets/entrenadorpersonal.jpg);
  display: flex;
  opacity: 75%;
  background-size: cover;
}

.c19 {
  display: flex;
  opacity: 75%;
  background-size: cover;
  background-image: url(../assets/clasesgrupales.jpg);
}

.anclaHome {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  width: max-content;
  padding: 0.3rem;
  border-radius: 1rem;
  gap: 2rem;
  background-color: #131313;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  color: #fafafa;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.textBox {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.anclaHome:hover {
  font-size: 2.2rem;
  transition: 0.3s;
}

/* cartas de clases*/
/* cartas de Sedes*/
.contenedorSedes {
  border-radius: 2rem;
}

.imgCarousel {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(44, 49, 60, 0.75));
}

.textoSedesH {
  font-size: 1rem;
}

.textoSedesP {
  color: white;
  font-size: 1rem;
}

.contenedorSedes1 {
  background-color: #262626;
}

/* cartas de nosotros*/
.registro {
  flex-direction: row-reverse;
  flex-wrap: wrap;
  display: flex;
  display: block;
  justify-items: center;
  background-color: #161A30;
  height: 100%;
}
.registro h3 {
  text-align: center;
}

.registroContenedor {
  display: flex;
  flex-direction: column;
}

.carouselNosotros h3 {
  font-size: 2rem;
}

.cd {
  display: flex;
  flex-direction: column;
  display: block;
  text-align: center;
  margin: 2rem;
  border-radius: 3rem;
  border: 1px solid grey;
}

.labelNosotros {
  font-size: 2rem;
}

.buttonNosotros {
  font-size: 1.5rem;
}

/*banner*/
.bannerContenedor {
  width: 100%;
  height: 27vh;
  background-color: #1b1a1a;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.banner {
  width: 80%;
}

/*titulos*/
h1 {
  text-align: center;
  display: block;
  width: max-content;
  font-size: 1.8rem;
  margin: 3rem auto;
  color: #fff;
  text-shadow: #fff 0 0 10px;
}
h1:hover {
  font-size: 2.5rem;
  border-bottom: rgb(166, 186, 36) solid 1px;
  transition: 0.2s;
  background: linear-gradient(to right, black);
}

h4 {
  font-size: 2rem;
  text-align: center;
  border: none;
  color: #ffffff;
  margin: 1rem;
}

h2 {
  margin: 1rem;
  font-size: 2rem;
  color: #fafafa;
  text-align: center;
}

p {
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
}

/*FOOTER*/
footer {
  grid-area: footer;
  border: none;
  background-color: #161A30;
  overflow: hidden;
  border-top: 1px solid grey;
}

.footerImg {
  display: flex;
  gap: 3rem;
  justify-content: center;
  justify-items: center;
  margin: 1rem;
}

.registro h3 {
  text-align: start;
  padding: 20px;
  color: #f1f1f1;
}

.footerImgLogo {
  width: 3rem;
  height: 3rem;
}

.footerLow {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  text-align: center;
}

/*profe aca no le pude cambiar el tamaño a el parrafo que viene predeterminado con bootstrap*/
#textoSedesP {
  font-size: 2rem;
}

#textoSedesH {
  font-size: 4rem;
}

.footerLow > p {
  margin: 1rem;
  color: #fafafa;
  font-size: 1rem;
}

label {
  color: white;
}

@media (min-width: 760px) {
  .headerContainer h1 {
    font-size: 3rem;
    margin: 1rem auto;
    margin-top: 3rem;
  }
  .navbar ul li {
    font-size: 2rem;
  }
  .navbar ul {
    gap: 3rem;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1020px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 5rem;
    padding-bottom: 3rem;
    background-color: #131313;
    border-radius: 2rem;
    height: 50%;
  }
  .headerContainer h1 {
    height: max-content;
    padding: 0 2rem;
    padding-right: 2rem;
  }
  .headerContainer h1:hover {
    border-bottom: rgb(166, 186, 36) solid 3px;
    transition: 0.2s;
    font-size: 3.4rem;
  }
}
@media (min-width: 760px) {
  .bannerContenedor {
    height: 40rem;
  }
}
@media (min-width: 760px) {
  .ContenedorCardsHome {
    display: grid;
    grid-template-columns: repeat(auto-fit);
    justify-items: center;
    margin: auto;
  }
  .cardsHome {
    width: 80%;
    height: 30rem;
  }
}
.cardsHome div {
  display: flex;
}

@media (min-width: 1020px) {
  .ContenedorCardsHome {
    width: 96%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }
  .cardsHome {
    width: 26rem;
    height: 26rem;
  }
}
@media (min-width: 1020px) {
  .cardsConteiner {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
  }
  .cardsTienda {
    width: 32rem;
    height: 38rem;
  }
}
@media (min-width: 1020px) {
  .contenedorSedes {
    width: 60%;
  }
}
@media (min-width: 1020px) {
  .carouselNosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
  }
  .carouselNosotrosImg {
    width: 60%;
  }
}
@media (min-width: 760px) {
  .footerImgLogo {
    width: 5rem;
    height: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  footer h4 {
    margin: 2rem;
    font-size: 3rem;
  }
  .footerImg {
    margin: 3rem;
  }
  .footerLow > p {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .footerImgLogo {
    width: 8rem;
    height: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
