/*FOOTER*/

footer {
    grid-area: footer;
    border: none;
    background-color: $color-secundario;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid grey;
    gap: 2rem;
}




.logoContenedor {

    display: flex;
    align-items: start;
    width: 100%;
    padding: 1rem;

    img {
        width: 5rem;
        border-radius: 5rem;
        height: 5rem;

    }
}


.siteMaps {
    display: flex;
    flex-direction: row;
    gap: 3rem;

    div{
        display: flex;
        flex-direction: column;
        h3{
            border-bottom: grey solid 1px;
            width: max-content;
        }
    }
    ul {

        li{ 
            list-style: circle;
            display: flex;
            flex-direction: column;
            color: #f1f1f1;
            a{
                border: none;
                text-decoration: none;
                color: #f1f1f1;
            }
        }
    }


}


.footerLow {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 3rem;

    div {
        h3 {
            font-size: 1.5rem;
            color: #f1f1f1;
        }

        a {
            img {
                margin: 1rem;
                width: 3rem;
                height: 3rem;
            }
        }

        p {
            color: #f1f1f1;
            font-size: 1rem;
        }
    }
}

