/*FOOTER*/

footer {
    grid-area: footer;
    border: none;
    background-color: $color-secundario;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-top: 1px solid grey;
    gap: 2rem;
}




.registro h3 {
    text-align: start;
    padding: 20px;
    color: #f1f1f1;
}

.siteMaps {
    ul {
        display: flex;
        flex-direction: row;
        gap: 
        2rem;
    }

    li {
        font-size: 1.3rem;
        list-style: none;

        a {
            color: #f1f1f1;
            text-decoration: none;
            border-bottom: grey solid 1px;
            font-family: 'Roboto Mono', monospace;
        }

    }

}


.footerLow {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-bottom: 3rem;

    div {
        h3 {
            font-size: 1.5rem;
            color: #f1f1f1;
        }

        a {
            img {
                margin: 1rem;
                width: 3rem;
                height: 3rem;
            }
        }

        p {
            color: #f1f1f1;
            font-size: 1rem;
        }
    }
}

/*profe aca no le pude cambiar el tamaño a el parrafo que viene predeterminado con bootstrap*/

label {
    color: white;
}