//header 


/*header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:$color-secundario;
    height: max-content;
    width: 100%;
    grid-area: header;
    overflow: hidden;

}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0.1rem;
    margin: 2rem auto;
    padding-right: 1rem;
    border-bottom: rgb(166, 186, 36) solid 1px;
}


    #li{
        a{
            @include anclas;
        }
        :hover {
            border: grey solid 1px;
            color: #f1f1f1;
            font-size: 1.5rem;
}
}
