//header 


/*header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secundario;
    height: max-content;
    width: 100%;
    grid-area: header;
    overflow: hidden;

    .headerContainer {
        width: 100%;
        display: flex;
        gap: 2rem;
        #logoHeader {
            width: max-content;
            height: max-content;
            display: flex;
            justify-content: flex-start;
            justify-self: start;

            a {

                img {
                    width: 5rem;
                    margin-top: 3rem;

                    height: 5rem;
                    border-radius: 5rem;
                }
            }
        }
    }

}

.navbar {
    display: flex;
    justify-content: end;
    margin: 0.1rem;
    margin: 2rem auto;
    padding-right: 1rem;
    width: max-content;
    border-bottom: rgb(166, 186, 36) solid 1px;

    .contenedorNavbar {
        display: flex;
        justify-content: center;

    }
}


#li {
    a {
        @include anclas;
    }

    :hover {
        transition: 0.3s;
        border: grey solid 1px;
        color: #f1f1f1;
        font-size: 1.5rem;
    }


}

.botonesMenu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 2rem;

    .botonMenu {
        width: max-content;
        border-radius: 2rem;
        height: 3rem;
        background: transparent;
        color: #f1f1f1;
        border: 1px solid rgb(166, 186, 36);
        cursor: pointer;
        transition: all 300ms ease;
        font-size: 1rem;
        padding: 0.5rem 2rem;

        &:hover {
            color: black;
            background-color: yellow;
        }
    }

    .botonMenu2 {
        font-size: 1rem;
        width: max-content;
        color: #f1f1f1;
        display: flex;
        padding: 0.5rem 2rem;

        border-radius: 2rem;
        border: 1px solid rgb(166, 186, 36);
        height: 3rem;

        a {
            color: #f1f1f1;
            text-decoration: none;
            height: 100%;

        }

        &:hover {
            a {
                color: black;
            }

            background-color: yellow;
        }
    }
}





/*:::Ventana Modal:::*/
#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#btn-modal:checked~.container-modal {
    display: flex;
}

.content-modal {
    width: max-content;
    padding: 20px;
    ;
    display: flex;
    flex-direction: column;

    border-radius: 4px;

    .formularioLogin {
        background: linear-gradient(to right, #000000, #131313, #000000);
        width: 30rem;
        height: 35rem;
        position: relative;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;

        form {

            .recordatorio {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                font-size: 1rem;
                margin: 1rem 2rem;
                color: white;

                label {
                    cursor: pointer;

                }


                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        border-bottom: 1px solid white;
                    }
                }

            }

            .loginButton {

                display: flex;
                padding: 1rem;
                border-top: grey 1px solid;

                button {
                    background-color: white;
                    width: 80%;
                    text-align: center;
                    margin: auto;
                    text-transform: capitalize;
                    font-size: 1rem;
                    color: #333;
                    border: none;
                    border-radius: 2rem;

                    &:hover {
                        background-color: rgb(203, 200, 200);
                    }
                }
            }



        }

        h3 {
            text-align: center;
            color: white;
            font-size: 2rem;
        }
    }

    .inputBox {
        width: 100%;
        height: 5rem;
        margin: 30px 0;

        input {
            width: 100%;
            padding: 2rem;
            height: 100%;
            background: transparent;
            font-size: 1.5rem;
            border: none;
            color: white;
            outline: none;
            padding-left: 2rem;
            border: 2px solid rgba(255, 255, 255, .2);
            border-radius: 40px;

            &::placeholder {
                color: white;
                font-size: 1rem;
            }
        }


    }
}



.content-modal .btn-cerrar {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: white;
    color: #333;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover {
    background-color: white;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}