

//header

@media (min-width:760px) {

    header{
        height: max-content;
        flex-direction: row;
    }

    h2 {
        margin: 1rem;
        font-size: 3rem;
        color: #fafafa;
        text-align: center;
    }


    .buttonNav{
        width: 5rem;
        height: 2rem;
    }

    .headerContainer h1 {
        font-size: 3rem;
        margin: 1rem auto;
        margin-left: 4rem;
    }

    #li{
        a{
            font-size: 2rem;
        }
        :hover {
            border: grey solid 1px;
            color: #f1f1f1;
            font-size: 2.3rem;
}
}



    

    .navbar ul {
        gap: 3rem;
    }
}

@media (min-width:1020px) {

    header{
        height: max-content;
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 5rem;
        padding-bottom: 3rem;
        border-radius: 2rem;
        nav{
            margin-top: 3rem;
        }

    }

    .headerContainer h1 {
        height: max-content;
        padding: 0 2rem;
        padding-right: 2rem;
        font-size: 3.4rem;
        margin-top: 4.6rem;
    }
    #li{
        a{
            font-size: 3rem;
        }
        :hover {
            border: grey solid 1px;
            color: #f1f1f1;
            font-size: 3.3rem;
}
}

    .headerContainer h1:hover {

        border-bottom: rgb(166, 186, 36) solid 3px;
        transition: 0.2s;
        font-size: 3.4rem;

    }




}


//banner

@media (min-width:760px) {
    .bannerContenedor {
        height: 40rem;
    }

}


//inicio

@media (min-width:760px) {

    .ContenedorCardsHome {
        display: grid;
        grid-template-columns: repeat(auto-fit);
        justify-items: center;
        margin: auto;
    }

    .cardsHome {
        width: 80%;
        height: 30rem;
    }
}

.cardsHome div {
    display: flex;

}

@media (min-width:1020px) {
    .ContenedorCardsHome {
        width: 96%;
        display: flex;
        flex-direction: row;
        gap: 3rem;
        justify-content: center;
        

    }

    .cardsHome {
        width: 26rem;
        height: 26rem;
    }

}




//tienda


@media (min-width:1020px) {
    .cardsConteiner {
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);

    }

    .cardsTienda {
        width: 32rem;
        height: 38rem;
    }

}


//sedes

@media (min-width:1020px) {
    .contenedorSedes {
        width: 60%;
    }
}

//nosotros

@media (min-width:760px) {
    .registroContenedor {

        border: rgb(166, 186, 36) solid 1px;
        display: flex;
        flex-direction: column;

    
    }
    .contenedorCheckout{
        display: flex;
        margin: 5rem;
        margin-left:30rem;

        flex-direction: column;
    }
}

@media (min-width:1020px) {

    .carouselNosotros {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #131313;
    }

    .carouselNosotrosImg {
        width: 60%;
    }

    .registroContenedor {

        border: rgb(166, 186, 36) solid 1px;
        display: flex;
        flex-direction: column;

    
    }
    .contenedorCheckout{
        display: flex;
        margin: 5rem;
        margin-left:35rem;

        flex-direction: column;
    }
}



//footer



@media (min-width:760px) {
    .siteMaps {
        ul {
            display: flex;
            flex-direction: row;
            gap: 
            2rem;
        }
    
        li {
            font-size: 2.5rem;
            list-style: none;
    
            a {
                color: #f1f1f1;
                text-decoration: none;
                border-bottom: grey solid 1px;
                font-family: 'Roboto Mono', monospace;
            }
    
        }
    
    }
    
    
    .footerLow {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        margin-bottom: 3rem;
    
        div {
            h3 {
                font-size: 2.5rem;
                color: #f1f1f1;
            }
    
            a {
                img {
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;
                }
            }
    
            p {
                color: #f1f1f1;
                font-size: 2rem;
            }
        }
    }
}

@media (min-width:1024px) {
    footer{
        gap: 8rem;
    }
    .siteMaps {
        display: flex;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 
            2rem;
        }
    
        li {
            font-size: 2.5rem;
            list-style: none;
    
            a {
                color: #f1f1f1;
                text-decoration: none;
                border-bottom: grey solid 1px;
                font-family: 'Roboto Mono', monospace;
            }
    
        }
    
    }
    
    
    .footerLow {
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 10rem;
        margin-bottom: 3rem;
    
        div {
            h3 {
                font-size: 2.5rem;
                color: #f1f1f1;
            }
    
            a {
                img {
                    margin: 1rem;
                    width: 5rem;
                    height: 5rem;
                }
            }
    
            p {
                color: #f1f1f1;
                font-size: 2rem;
            }
        }
    }
}

