

/*titulos*/

h1 {
    text-align: center;
    display: block;
    width: max-content;
    font-size: 1.8rem;
    margin-top: 3rem;
    color: #fff;
    text-shadow: #fff 0 0 10px;

    &:hover {
        border-bottom: rgb(166, 186, 36) solid 1px;
        transition: 0.2s;
        background: linear-gradient(to right, black);
    }
}

h4 {
    font-size: 2rem;
    text-align: center;
    border: none;
    color: #ffffff;
    margin: 1rem;
}

h2 {
    margin: 1rem ;
    color: #fafafa;
    font-size: 2rem;
    text-align: center;
    border-bottom: rgb(166, 186, 36) solid 1px;
    width: max-content;
}


h3{
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
}